h2{
    text-align: center;
    align-items: center; 
     /* margin-left: 15cm;
    margin-right: 15cm;  */
    color: cadetblue;
}
.parent{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; 
  /*   margin-left: 15cm;
    margin-right: 15cm;  */
}
input{
   
    border: 2px solid ;
    border-color: cadetblue;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
}

button{
    background-color: cadetblue;
    color: #fff;
    border: 2px;
    justify-content: center;
    border-radius: 3px;
    padding: 6px;
    text-align: center;
    align-items: center; 
}